<tr onclick="window.document.location='<%= post_path(post) %>';">
  <td class="vert-align">
    <% if post.created_at < Date.today %>
      <span class="post-date"><%= post.created_at.strftime('%b %d') %></span>
    <% else %>
      <span class="new-post">NEW</span>
    <% end %>
    <%= link_to post.title.html_safe, post_path(post) %> by <%= post.artist.html_safe %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Destroy', post, data: {confirm: 'Are you sure?'}, :method => :delete, :class => 'btn-danger btn-xs', :style => 'border-radius: 5px; padding: 3px;' %>
    <% end %>
  </td>
  <td class="column2">
    <div id="star_<%= post.id %>"></div>
  </td>
</tr>

<script>
  $('#star_<%= post.id %>').raty({
    readOnly: true,
    score: <%= post.average_rating %>,
    path: '',
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>'
  });
</script>