<%= form_for @post, :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <% if @post.errors.any? %>
      <div class='alert alert-danger' role='alert'>
        <%= @post.errors.full_messages.join("<br>").html_safe %>
      </div>
    <% end %>
    <legend>Submit a new post</legend>
    <div class="control-group">
      <%= f.label :url, 'Bandcamp or SoundCloud URL', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :size => 55, :placeholder => 'ex. https://soundcloud.com/the-staves/blood-i-bled', :class => 'text_field' %>
      </div>
    </div>
    <br>

    <div class="form-actions">
      <%= f.submit 'Submit the URL!', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', posts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>