<% content_for :title do %>
  <%= @post.title.html_safe %> by <%= @post.artist.html_safe %>
<% end %>
<h2><%= @post.title.html_safe %> by <%= @post.artist.html_safe %>
  <div style='float:right'><%= link_to 'Show all posts', posts_path, :class => 'btn btn-default' %></div>
</h2>
<div>
  <span style='float:left'>
    <%= raw @post.get_player_code %>
  </span>
  <span style='float:right'>
    Averate rating:
    <div id="star"></div>
    <% if user_signed_in? %>
      Your rating:
      <div id="user_star"></div>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %> to vote.
    <% end %>
  </span>
</div>
<br>
<table class="table table-striped table-hover table-condensed table-nonfluid">
  <tr>
    <% if @post.tag_list.size > 0 %>
      <td class="tags">
        Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </td>
    <% end %>
  </tr>
</table>

<div class="post_comments">
  <%= render 'comments/comments_index', locals: {post: @post, comments: @comments} %>
</div>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @post.average_rating %>,
    path: '',
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>'
  });
  <% if user_signed_in? %>
    $('#user_star').raty({
      score: <%= @rating.score %>,
      path: '',
      starOn: '<%= image_path('star-on.png') %>',
      starOff: '<%= image_path('star-off.png') %>',
      starHalf: '<%= image_path('star-half.png') %>',
      click: function (score, evt) {
        $.ajax({
          url: '/ratings/' + <%= @rating.id %>,
          type: 'PATCH',
          data: { score: score }
        });
      }
    });
  <% end %>
</script>