<% content_for :title do %>
  <%= @post.title.html_safe %> by <%= @post.artist.html_safe %>
<% end %>
<h2>
  <%= @post.title.html_safe %> by <%= @post.artist.html_safe %>
</h2>
<span id="post_rating">
    Average rating:
    <span id="star"></span>
  <% if user_signed_in? %>
      Your rating:
      <span id="user_star"></span>
    <% else %>
    <span>
      <%= link_to 'Sign in', new_user_session_path %> to vote.
    </span>
    <% end %>
  </span>
<div class='embedded-music-player'>
  <%= raw @post.player_code %>
</div>
<br>
<table class="table table-condensed table-nonfluid" style='background: transparent;'>
  <tr>
    <% if @post.tag_list.size > 0 %>
      <td class="tags">
        Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </td>
    <% end %>
  </tr>
</table>

<div class="post_reviews">
  <%= render 'reviews/reviews_index', locals: {post: @post, reviews: @reviews} %>
</div>

<%= link_to 'Back to all posts', posts_path, :class => 'btn btn-default' %>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @post.average_rating %>,
    path: '',
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>'
  });
  <% if user_signed_in? %>
  $('#user_star').raty({
    score: <%= @rating.score %>,
    path: '',
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    click: function (score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
  <% end %>
</script>