<% content_for :title do %>
    <%= @post.title.html_safe %> by <%= @post.artist.html_safe %>
<% end %>
<h2><%= @post.title.html_safe %> by <%= @post.artist.html_safe %></h2>

<%= raw @player_code %>
<br>
<table class="table table-striped table-hover table-condensed table-nonfluid">
  <tr>
    <td class="column2">
      <div>Popularity:</div>
    </td>
    <td class="column2">
      <div class="vote_number" id="vote_number-<%= @post.id %>"><%= @post.popularity %></div>
    </td>
    <td class="column1">
      <%= form_for [@post, @post.votes.build], remote: true do |f| %>
          <%= f.hidden_field :direction, value: "up" %>
          <%= f.submit "Vote Up", :type => :image, :src => "/assets/up-arrow-small.gif" %>
      <% end %>
    </td>
    <td>
      <%= form_for [@post, @post.votes.build], remote: true do |f| %>
          <%= f.hidden_field :direction, value: "down" %>
          <%= f.submit "Vote Up", :type => :image, :src => "/assets/down-arrow-small.gif" %>
      <% end %>
    </td>
    <% if @post.tag_list.size > 0 %>
        <td>
          Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </td>
    <% end %>
  </tr>
</table>
<br>
<%= link_to 'Back to all posts', posts_path, :class => 'btn btn-default' %>