<%= form_for([@post, @review], remote: true) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true %>
  </div>

  <%= f.submit 'Submit Review', class: 'btn btn-primary', style: 'margin-bottom: 20px;' %>
  <%= f.submit 'Save As Draft', class: 'btn btn-info', style: 'margin-bottom: 20px;' %>
  <%= link_to 'Cancel', :back, style: 'margin-bottom: 20px;' %>
<% end %>