<!DOCTYPE html>
<html>
<head>
  <title>BandcampApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>

<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-9">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <div class="col-md-3">
          <% if @post && @post.description %>
            <h2>About The <%= @post.link_type.capitalize %></h2>

            <p><%= @post.description.html_safe %></p>

            <p><%= link_to @post.artist_url, @post.artist_url, :target => '_blank' if @post.artist_url %></p>
          <% else %>
            <h2>About The App</h2>

            <p>
              Music Discovery App is a web scraping tool for Bandcamp music release pages. Since they stopped handing
              out developer keys over a year ago, I had to come up with another way to construct embedded music
              players automatically with only a Bandcamp URL. After completing the original task, I decided to keep
              going and grab additional page data like tags and incorporate it into a music discovery app. Happy music
              hunting!! ♫♫
            </p>
          <% end %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  <!--! end of .container -->
</div>

</body>
</html>
