<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) + " :: Music Discovery App" : "Music Discovery App" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>
<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span9">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <div class="span3">
          <h2>About Us</h2>

          <p>
            Music Discovery App is a web scraping tool for Bandcamp music release pages.  Since they stopped handing out developer keys over a year ago, I had to come up with another way to construct embedded music players automatically with only a Bandcamp URL. After completing the original task, I decided to keep going and grab additional page data like tags and incorporate it into a music discovery app for you and me. Happy music hunting!!
          </p>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  <!--! end of .container -->
</div>
<!--! end of #main -->
</body>
</html>