<!DOCTYPE html>
<html>
<head>
  <title>BandcampApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= request.params[:controller] %> <%= request.params[:action] %>">

<%= render 'layouts/navigation' %>

<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-9">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <div class="col-md-3">
          <% if @post && @post.description.present? && current_page?(post_path(@post))%>
            <h2>About The <%= @post.link_type.capitalize %></h2>

            <p><%= @post.description.html_safe %></p>

            <p><%= link_to @post.artist_url, @post.artist_url, :target => '_blank' if @post.artist_url %></p>
          <% else %>
            <h2>About The App</h2>

            <p>
              Music Discovery App is a bookmarking tool for Bandcamp and SoundCloud music release pages. I wanted to
              create an easy way to embed music players from both sites from simply submitting a URL containing playable
              content as well as grab additional information from each submission such as tags, description, and artist links.
              SoundCloud API makes this process pretty painless, but BC pages need to be manually scraped since
              developer keys have been difficult to obtain. Happy music listening!! ♫♫
            </p>
          <% end %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  <!--! end of .container -->
</div>

</body>
</html>
